# COVID 19 DATA  AND VOICE ASSISTANT

A corona-virus voice assistant that responds to corona related questions

In [1]:
#import the library used to query a website
from urllib.request import Request, urlopen
import requests
import pandas as pd
#specify the corona virus website
site= 'https://www.worldometers.info/coronavirus'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.3'}

request = Request(url=site,headers=headers)
#Query the website and return the html 
page = urlopen(request)
from bs4 import BeautifulSoup
#soup = BeautifulSoup(page, "html.parser")
soup = BeautifulSoup(page, 'lxml')
soup.title.string

'Coronavirus Update (Live): 5,427,339 Cases and 344,417 Deaths from COVID-19 Virus Pandemic - Worldometer'

In [2]:
def summary(soup_source):
    data = soup_source.find_all("div",class_ = "maincounter-number")
    print("Total Cases: ", data[0].text.strip())
    print("Total Deaths: ", data[1].text.strip())
    print("Total Recovered: ", data[2].text.strip())

In [3]:
summary(soup)

Total Cases:  5,427,339
Total Deaths:  344,417
Total Recovered:  2,259,434

In [4]:
# Select table by id
table = soup.find(id = 'main_table_countries_today')

# PARSE HTML TABLE  AND STORE THE DATA IN A DATAFRAME

In [5]:
def parse_html_table(table):
    table_rows = table.find_all('tr')
    rowlist = []  # List to store rows
    for tr in table_rows:
        td = tr.find_all('td')  # Find all table columns
        row = [tr.text for tr in td]
        if len(row) == 0:
            continue
        row = row[:12]
        rowlist.append(row)
    dataset = pd.DataFrame(rowlist, columns=["", "Country", "Total Cases", "New Cases", "Total Deaths", "New Deaths",
                                         "Total Recovered", "Active Cases", "Serious Cases", "Total Cases/ 1M Pop",
                                         "Deaths/ 1M Pop", "Total Tests"])

    return dataset

In [6]:
parse_html_table(table)

,,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious Cases,Total Cases/ 1M Pop,Deaths/ 1M Pop,Total Tests
0,,\nNorth America\n,"1,855,812","+3,971","113,474",+204,"554,197","1,188,141","18,270",,,
1,,\nSouth America\n,"607,017","+2,051","30,752",+162,"230,861","345,404","10,818",,,
2,,\nEurope\n,"1,896,817","+10,917","169,516",+241,"870,675","856,626","10,059",,,
3,,\nAsia\n,"948,440","+12,107","27,258",+190,"550,688","370,494","13,758",,,
4,,\nAfrica\n,"109,810",+340,"3,279",+12,"44,297","62,234",306,,,
5,,\nOceania\n,"8,722",+3,123,,"8,065",534,6,,,
6,,\n\n,721,,15,,651,55,4,,,
7,,World,"5,427,339","+29,389","344,417",+809,"2,259,434","2,823,488","53,221",696,44.2,
8,1,USA,"1,666,829",+1,"98,683",,"446,927","1,121,219","17,133","5,039",298,"14,357,969"
9,2,Brazil,"349,113","+1,715","22,165",+152,"142,587","184,361","8,318","1,644",104,"735,224"
10,3,Russia,"344,481","+8,599","3,541",+153,"113,299","227,641","2,300","2,361",24,"8,600,000"
11,4,Spain,"282,370",,"28,678",,"196,958","56,734",854,"6,040",613,"3,556,567"
12,5,UK,"257,154",,"36,675",,N/A,N/A,"1,559","3,790",541,"3,348,507"
13,6,Italy,"229,327",,"32,735",,"138,840","57,752",572,"3,792",541,"3,391,188"
14,7,France,"182,469",,"28,332",,"64,547","89,590","1,665","2,796",434,"1,384,633"
15,8,Germany,"179,986",,"8,366",,"160,300","11,320",919,"2,149",100,"3,595,059"
16,9,Turkey,"155,686",,"4,308",,"117,602","33,776",775,"1,848",51,"1,807,673"
17,10,Iran,"135,701","+2,180","7,417",+58,"105,801","22,483","2,615","1,618",88,"800,519"
18,11,India,"132,674","+1,251","3,899",+31,"54,729","74,046","8,944",96,3,"2,943,421"
19,12,Peru,"115,754",,"3,373",,"47,915","64,466",909,"3,516",102,"788,341"
20,13,Canada,"83,621",,"6,355",,"43,305","33,961",502,"2,218",169,"1,431,911"
21,14,Saudi Arabia,"70,161",,379,,"41,236","28,546",339,"2,019",11,"684,615"
22,15,Mexico,"65,856","+3,329","7,179",+190,"44,919","13,758",378,511,56,"215,656"
23,16,Chile,"65,393",,673,,"26,546","38,174","1,062","3,424",35,"457,332"
24,17,Belgium,"57,092",+282,"9,280",+43,"15,272","32,540",256,"4,928",801,"781,284"
25,18,Pakistan,"54,601","+2,164","1,133",+32,"17,198","36,270",111,248,5,"473,607"
26,19,Netherlands,"45,064",,"5,811",,N/A,N/A,227,"2,631",339,"313,755"
27,20,Qatar,"42,213",,21,,"8,513","33,679",177,"14,679",7,"184,794"
28,21,Ecuador,"36,258",,"3,096",,"3,557","29,605",208,"2,058",176,"105,462"
29,22,Belarus,"36,198",+954,199,+5,"14,155","21,844",92,"3,831",21,"450,627"
...,...,...,...,...,...,...,...,...,...,...,...,...
201,194,Saint Lucia,18,,,,18,0,,98,,867
202,195,St. Vincent Grenadines,18,,,,14,4,,162,,209
203,196,Curaçao,17,,1,,14,2,,104,6,504
204,197,Dominica,16,,,,16,0,,222,,433
205,198,Saint Kitts and Nevis,15,,,,15,0,,282,,391
206,199,Falkland Islands,13,,,,13,0,,"3,749",,445
207,200,Turks and Caicos,12,,1,,10,1,,310,26,126
208,201,Vatican City,12,,,,2,10,,"14,981",,
209,202,Montserrat,11,,1,,10,0,,"2,204",200,36
210,203,Suriname,11,,1,,9,1,,19,2,488
211,204,Greenland,11,,,,11,0,,194,,"1,850"
212,205,Seychelles,11,,,,11,0,,112,,
213,206,MS Zaandam,9,,2,,,7,,,,
214,207,British Virgin Islands,8,,1,,6,1,,265,33,167
215,208,Papua New Guinea,8,,,,8,0,,0.9,,"2,402"
216,209,Caribbean Netherlands,6,,,,6,0,,229,,424
217,210,St. Barth,6,,,,6,0,,608,,137
218,211,Western Sahara,6,,,,6,0,,10,,
219,212,Anguilla,3,,,,3,0,,200,,30
220,213,Lesotho,2,,,,,2,,0.9,,283
221,214,Saint Pierre Miquelon,1,,,,1,0,,173,,
222,215,China,"82,974",+3,"4,634",,"78,261",79,8,58,3,
223,,Total:,"1,855,812","+3,971","113,474",+204,"554,197","1,188,141","18,270",,,
224,,Total:,"607,017","+2,051","30,752",+162,"230,861","345,404","10,818",,,
225,,Total:,"1,896,817","+10,917","169,516",+241,"870,675","856,626","10,059",,,
226,,Total:,"948,440","+12,107","27,258",+190,"550,688","370,494","13,758",,,
227,,Total:,"109,810",+340,"3,279",+12,"44,297","62,234",306,,,
228,,Total:,"8,722",+3,123,,"8,065",534,6,,,
229,,Total:,721,,15,,651,55,4,,,
230,,Total:,"5,427,339","+29,389","344,417",+809,"2,259,434","2,823,488","53,221",696.3,44.2,

### DATA CLEANING , TO REMOVE DATA THAT IS NOT IMPORTANT

In [7]:
def datasetcleaner(dataset):
    dataset.drop(dataset.tail(8).index,inplace=True) # Remove the last 10 rows that contain only totals
    dataset.replace(['\n'], '', regex=True, inplace=True)
    dataset.replace([','], '', regex=True, inplace=True)
    return dataset

In [8]:
data = parse_html_table(table)
datasetcleaner(data)

,,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious Cases,Total Cases/ 1M Pop,Deaths/ 1M Pop,Total Tests
0,,North America,1855812,+3971,113474,+204,554197,1188141,18270,,,
1,,South America,607017,+2051,30752,+162,230861,345404,10818,,,
2,,Europe,1896817,+10917,169516,+241,870675,856626,10059,,,
3,,Asia,948440,+12107,27258,+190,550688,370494,13758,,,
4,,Africa,109810,+340,3279,+12,44297,62234,306,,,
5,,Oceania,8722,+3,123,,8065,534,6,,,
6,,,721,,15,,651,55,4,,,
7,,World,5427339,+29389,344417,+809,2259434,2823488,53221,696,44.2,
8,1,USA,1666829,+1,98683,,446927,1121219,17133,5039,298,14357969
9,2,Brazil,349113,+1715,22165,+152,142587,184361,8318,1644,104,735224
10,3,Russia,344481,+8599,3541,+153,113299,227641,2300,2361,24,8600000
11,4,Spain,282370,,28678,,196958,56734,854,6040,613,3556567
12,5,UK,257154,,36675,,N/A,N/A,1559,3790,541,3348507
13,6,Italy,229327,,32735,,138840,57752,572,3792,541,3391188
14,7,France,182469,,28332,,64547,89590,1665,2796,434,1384633
15,8,Germany,179986,,8366,,160300,11320,919,2149,100,3595059
16,9,Turkey,155686,,4308,,117602,33776,775,1848,51,1807673
17,10,Iran,135701,+2180,7417,+58,105801,22483,2615,1618,88,800519
18,11,India,132674,+1251,3899,+31,54729,74046,8944,96,3,2943421
19,12,Peru,115754,,3373,,47915,64466,909,3516,102,788341
20,13,Canada,83621,,6355,,43305,33961,502,2218,169,1431911
21,14,Saudi Arabia,70161,,379,,41236,28546,339,2019,11,684615
22,15,Mexico,65856,+3329,7179,+190,44919,13758,378,511,56,215656
23,16,Chile,65393,,673,,26546,38174,1062,3424,35,457332
24,17,Belgium,57092,+282,9280,+43,15272,32540,256,4928,801,781284
25,18,Pakistan,54601,+2164,1133,+32,17198,36270,111,248,5,473607
26,19,Netherlands,45064,,5811,,N/A,N/A,227,2631,339,313755
27,20,Qatar,42213,,21,,8513,33679,177,14679,7,184794
28,21,Ecuador,36258,,3096,,3557,29605,208,2058,176,105462
29,22,Belarus,36198,+954,199,+5,14155,21844,92,3831,21,450627
...,...,...,...,...,...,...,...,...,...,...,...,...
193,186,Bhutan,24,,,,6,18,,31,,15293
194,187,Timor-Leste,24,,,,24,0,,18,,738
195,188,Grenada,22,,,,17,5,4,196,,3007
196,189,Namibia,21,+1,,,14,7,,8,,3027
197,190,Laos,19,,,,14,5,,3,,5487
198,191,Belize,18,,2,,16,0,,45,5,1435
199,192,Fiji,18,,,,15,3,,20,,1300
200,193,New Caledonia,18,,,,18,0,,63,,5454
201,194,Saint Lucia,18,,,,18,0,,98,,867
202,195,St. Vincent Grenadines,18,,,,14,4,,162,,209
203,196,Curaçao,17,,1,,14,2,,104,6,504
204,197,Dominica,16,,,,16,0,,222,,433
205,198,Saint Kitts and Nevis,15,,,,15,0,,282,,391
206,199,Falkland Islands,13,,,,13,0,,3749,,445
207,200,Turks and Caicos,12,,1,,10,1,,310,26,126
208,201,Vatican City,12,,,,2,10,,14981,,
209,202,Montserrat,11,,1,,10,0,,2204,200,36
210,203,Suriname,11,,1,,9,1,,19,2,488
211,204,Greenland,11,,,,11,0,,194,,1850
212,205,Seychelles,11,,,,11,0,,112,,
213,206,MS Zaandam,9,,2,,,7,,,,
214,207,British Virgin Islands,8,,1,,6,1,,265,33,167
215,208,Papua New Guinea,8,,,,8,0,,0.9,,2402
216,209,Caribbean Netherlands,6,,,,6,0,,229,,424
217,210,St. Barth,6,,,,6,0,,608,,137
218,211,Western Sahara,6,,,,6,0,,10,,
219,212,Anguilla,3,,,,3,0,,200,,30
220,213,Lesotho,2,,,,,2,,0.9,,283
221,214,Saint Pierre Miquelon,1,,,,1,0,,173,,
222,215,China,82974,+3,4634,,78261,79,8,58,3,

In [9]:
#data.loc[data.Country == 'World','Total Cases']
#data.loc[data.Country == 'World','Total Cases'].tolist()[0]

In [10]:

import json
jsondata = data.to_json(orient='index')
dataset = json.loads(jsondata)
#dataset

In [11]:
# Fecth all countries into list and check if country exists
def get_country_list(data,country):
    country_list= data.Country.tolist()
    if country in country_list:
        return 1
    else:
        return 0

In [12]:
# Get Total cases
def get_cases_data(data, country):
    total_cases= data.loc[data.Country == country,'Total Cases'].tolist()[0]
    return json.loads(total_cases)
# Total deaths
def get_deaths_data(data, country):
    total_deaths= data.loc[data.Country == country,'Total Deaths'].tolist()[0]
    return json.loads(total_deaths)

# Total recovered
def get_recovered_data(data, country):
    total_recovered= data.loc[data.Country == country,'Total Recovered'].tolist()[0]
    return json.loads(total_recovered)

# Total active
def get_active_data(data, country):
    total_active = data.loc[data.Country == country,'Active Cases'].tolist()[0]
    return json.loads(total_active)

In [13]:
get_cases_data(data, "World")

5427339

### Speech recognition and speech generation

In [22]:
import json
import pyttsx3
import speech_recognition as sr

#Method to convert text to audio
def speech(text):
    engine = pyttsx3.init()
    engine.say(text)
    engine.runAndWait()

#Get audio from microphone to text   
def get_audio():
    r = sr.Recognizer()
    with sr.Microphone() as source:
        audio = r.listen(source)
        said = ""
        
        try:
            said = r.recognize_google(audio)
        except Exception as e: 
            print("Exception:", str(e))
    return said.lower()

In [23]:
#Test the method
speech('hello')

## Method to respond to questions

In [21]:
def voice_assistant(data):
    print("Started Program")
    
END_PHRASE = "Stop"
value = None

while True:
    print("Listening...")
    text = get_audio().capitalize()
    print(text)
    
    if(get_country_list(data,text)):
        value = get_cases_data(data,text)
        speech(value)
    if not (get_country_list(data,text)):
        value = "Country doesnt exist in dataset"
        speech(value)  
        
        if text.find(END_PHRASE) != -1:  # stop loop
            print("Exit")
            break

Listening...
Uganda
Listening...
Exception:

Listening...
Stop
Exit